In [2]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# df.shape
The df.shape attribute is used to determine the dimensions of the DataFrame. It returns a tuple indicating the number of rows and columns in the DataFrame

In [3]:
df.shape

(6, 4)

# df.head
The head() method in Pandas is used to display the first few rows of a DataFrame. By default, it shows the top 5 rows, but you can specify the number of rows to display by passing an integer as an argument.

In [6]:
df.head()
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

The tail() method in Pandas is used to display the last few rows of a DataFrame. By default, it shows the bottom 5 rows, but you can specify the number of rows to display by passing an integer as an argument.

In [8]:
df.tail()
df.tail(3)

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# Slicing
in pandas also we can do the same slicing as in python like by mentoning the start and stop index, but we can do more in pandas slicing for example if we want to slice the number of rows we can follow the noraml slicing way by mentoning the start and stop index

In [9]:
df[1:3]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

now to slice the columns that means to get the number of columns we want we just need to explicitly mention the column names like this :

In [10]:
df[['day','temperature']]

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

**row and column slicing using loc and iloc**
we can slice the rows and columns by using loc by mentoning the row and column indexes or labels

In [14]:
df.loc[1:3,["day","temperature"]]

        day  temperature
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24

we can also do it using the iloc by mentoning only the indexes

In [15]:
df.iloc[1:3,1:3]

   temperature  windspeed
1           35          7
2           28          2