In [1]:
import pandas as pd
df = pd.read_csv("weather_data.csv")

In [3]:
df.index

RangeIndex(start=0, stop=6, step=1)

To set an index to the dataframe we can use the set_index method but that alone cant do the job because the set_index returns an new df so to set the index for the current data frame we need to set the inplace paramater to new such that it wont create a new df and make the changes inplace

In [6]:
df.set_index("day",inplace=True)

In [7]:
df.loc["1/1/2017"]

temperature      32
windspeed         6
event          Rain
Name: 1/1/2017, dtype: object

In [9]:
df.reset_index(inplace=True)
df

   index       day  temperature  windspeed  event
0      0  1/1/2017           32          6   Rain
1      1  1/2/2017           35          7  Sunny
2      2  1/3/2017           28          2   Snow
3      3  1/4/2017           24          7   Snow
4      4  1/5/2017           32          4   Rain
5      5  1/6/2017           31          2  Sunny