# df operations

In [4]:
import pandas as pd
df = pd.read_csv("weather_data.csv")

In [7]:
df.max()

day            1/6/2017
temperature          35
windspeed             7
event             Sunny
dtype: object

In [8]:
df['temperature'].max()

35

Condition checking

In [11]:
df[df['temperature'] > 32]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [12]:
df['day'][df['temperature'] == df['temperature'].max() ]

1    1/2/2017
Name: day, dtype: object

describe is used to get the statistical values of a data frame

In [13]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000