In [1]:
import numpy as np 
import pandas as pd

# creating a series with list

In [12]:
subjects = ["dsa","dbms","oops","cn","os"]
marks = [99,98,95,99,97]

In [6]:
# subjects = pd.Series(subjects)
# subjects

# series with custom index

In [13]:
pd.Series(marks,index=subjects)

dsa     99
dbms    98
oops    95
cn      99
os      97
dtype: int64

In [15]:
ramyas_marks = pd.Series(marks,index=subjects,name="ramya's marks")
ramyas_marks

dsa     99
dbms    98
oops    95
cn      99
os      97
Name: ramya's marks, dtype: int64

# serires with a dictonary

In [17]:
ramyas_marks_dict = {"dsa" :99,
"dbms" :  98,
"oops" :   95,
"cn" :    99,
"os" :     97}
ramyas_marks_dict_series = pd.Series(ramyas_marks_dict,name="ramyasmarksdictseries")
ramyas_marks_dict_series

dsa     99
dbms    98
oops    95
cn      99
os      97
Name: ramyasmarksdictseries, dtype: int64