In [1]:
import numpy as np 
import pandas as pd

In [4]:
subs = pd.read_csv("./subs.csv")
subs
type(subs)

pandas.core.frame.DataFrame

In [6]:
# squeeze depricated in pandas 
subs = pd.read_csv("./subs.csv",squeeze= True )

TypeError: read_csv() got an unexpected keyword argument 'squeeze'

In [8]:
kohli_runs = pd.read_csv('./kohli_ipl.csv',index_col="match_no")
kohli_runs

          runs
match_no
1            1
2           23
3           13
4           12
5            1
...        ...
211          0
212         20
213         73
214         25
215          7

[215 rows x 1 columns]

In [10]:
bollywood = pd.read_csv("./bollywood.csv",index_col="movie")
bollywood

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

# attributes

In [11]:
subs.head()

   Subscribers gained
0                  48
1                  57
2                  40
3                  43
4                  44

In [12]:
subs.head(3)

   Subscribers gained
0                  48
1                  57
2                  40

In [13]:
subs.tail()

     Subscribers gained
360                 231
361                 226
362                 155
363                 144
364                 172

In [14]:
subs.tail(2)

     Subscribers gained
363                 144
364                 172

In [15]:
bollywood.sample()

                              lead
movie
Bin Bulaye Baraati  Naushaad Abbas

In [16]:
bollywood.sample(6)

                                          lead
movie
Love Shagun                      Anuj Sachdeva
2 States (2014 film)              Arjun Kapoor
Pranaam                      Rajeev Khandelwal
Cocktail (2012 film)             Saif Ali Khan
Sheesha (2005 film)                Neha Dhupia
Right Here Right Now (film)              Ankit