In [1]:
import numpy as np 
import pandas as pd

In [4]:
subs = pd.read_csv("./subs.csv")
subs
type(subs)

pandas.core.frame.DataFrame

In [6]:
# squeeze depricated in pandas 
subs = pd.read_csv("./subs.csv",squeeze= True )

TypeError: read_csv() got an unexpected keyword argument 'squeeze'

In [8]:
kohli_runs = pd.read_csv('./kohli_ipl.csv',index_col="match_no")
kohli_runs

          runs
match_no
1            1
2           23
3           13
4           12
5            1
...        ...
211          0
212         20
213         73
214         25
215          7

[215 rows x 1 columns]

In [10]:
bollywood = pd.read_csv("./bollywood.csv",index_col="movie")
bollywood

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]